.mainContainer {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* .rowContainer {
  height: -webkit-fill-available;
} */

.rowContainer {
  min-height: 100vh;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 3rem;
  margin: auto;
}

.loginImage {
  width: 100%;
  height: 100%;
}

.imageColumn {
  display: block !important;
}

.loginField input::placeholder {
  color: #FFFFFF40 !important;
}

@media screen and (min-width: 1199px) {
  .loginContainer {
    max-width: 80%;
  }
}

@media screen and (max-width: 1199px) {
  .imageColumn {
    display: none !important;
  }
}

/* @media screen and (min-width: 1670px) {
  .loginImage {
    width: calc(100% - 8rem);
  }
} */