.ant-table-wrapper .ant-table {
  background: #030918 !important;
}

.ant-table-wrapper .ant-table .ant-table-row:nth-child(odd) {
  background: #101524 !important;
}

/* Override the close button background for the Preview image component */
.ant-image-preview-operations-operation .anticon-close {
  background-color: #ffffff; /* Your desired background color */
  border-radius: 50%; /* Optional: make it circular */
  padding: 5px; /* Optional: adjust padding */
}

.ant-image-preview-close{
  background: #56E4EE !important; 
}

.ant-pagination-item:hover {
  background: #2b303d; /* Background color on hover */
  color: #ffffff; /* Text color on hover */
  border: none; /* Remove border on hover */
}

.ant-pagination-item-active {
  background: #2b303d; /* Active item background color */
  color: #ffffff; /* Text color for active item */
  border: none !important; /* Remove border for active item */
}
