@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

@import './font.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBMPlexSansThai-Regular", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  background-color: #030918;
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #8A8A8A;
  --black-color: #000000;
  --lightblue-color: #56E4EE;
  --lightred-color: #FF4A4D;
}

button {
  cursor: pointer !important;
  background-color: var(--lightblue-color) !important;
  border-color: var(--lightblue-color) !important;
  color: #1E4066 !important;
}

.bg-gradient {
  background: linear-gradient(#56E4EE, #000000, #56E4EE);
}

.border-lightblue {
  border-color: #56E4EE;
}